<div class="container">
  <ul class="list">
    <h1>List</h1>
    <app-change-list-card
      class="list-item"
      *ngFor="let card of cards"
      (cardRef)="handleClick($event)"
      [card]="card"
      [ngStyle]="{
        'border-left':
          card === selectedCard
            ? '10px solid ' + card.color
            : '5px solid ' + card.color,
        background: card === selectedCard ? 'lightgrey' : ''
      }"
    ></app-change-list-card>
  </ul>

  <div class="details">
    <h2>{{ selectedCard.name }}</h2>
    <p>
      {{ selectedCard.content }}
    </p>
    <button>Save</button>
  </div>
</div>
