.container {
  display: flex;
  height: 100vh;
}

.list {
  flex: 3;
  border: 1px solid black;
  border: #fff;
  list-style: none;
}

.list-item {
  display: block;
  background-color: #fff;
  border-top: 2px solid black;
  overflow: hidden;
  height: 100px;
}

.details {
  flex: 2;
  padding: 10px;
  position: relative;
}

.details button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  position: absolute;
  right: 20px;
}
