/* Main container layout */
.container {
  display: flex;
  height: 100vh;
  border: 1px solid #ccc;
}

.list {
  flex: 2;
  border: 1px solid black;
}

.list-item {
  display: flex;
  background-color: #fff;
  border-top: 2px solid black;
}

.list-item:hover {
  background-color: #f0f0f0;
}

.details {
  flex: 2;
  padding: 10px;
  position: relative;
}

.details button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  position: absolute;
  right: 20px;
}
