.nav_bar {
  background-color: #eb0000;
  height: 80px;
  display: flex;
  justify-content: space-between;
}

.title {
  color: white;
  margin-left: 100px;
  margin-top: 25px;
}

.nav_parts {
  margin-right: 100px;
}

.btn {
  padding: 30px;
  margin-left: 20px;
  border: none;
  background-color: #eb0000;
  color: white;
  font-size: 16px;
}

.btn:hover {
  background-color: #eb6262;
}
