<div class="card" (click)="navigateToDetails(movie.id)">
  <img
    [src]="'https://image.tmdb.org/t/p/w500/' + movie.poster_path"
    alt="poster"
  />
  <div class="content">
    <h1 class="name">{{ movie.title }}</h1>
    <h3 class="info">
      <i class="fa-solid fa-star"></i>
      release: {{ movie.release_date }}
    </h3>
    <p class="short-desc">{{ movie.overview | context : "100" }}</p>
    <div class="icons">
      <a href="#"> <i class="fa-solid fa-heart"></i></a>
      <a href="#"> <i class="fa-solid fa-bookmark"></i></a>
      <a href="#"> <i class="fa-solid fa-share"></i></a>
    </div>
  </div>
</div>
