.contact-page {
  margin: 70px;
}

.title {
  margin-bottom: 20px;
}
.form-group {
  margin: 20px auto 20px;
}

.input {
  display: block;
  width: 200px;
}
button {
  background-color: #eb0000;
  color: white;
  border-radius: 5px;
  border-color: transparent;
  width: 150px;
  padding: 5px;
}
.worktext {
  color: green;
  margin-bottom: 50px;
}
