<app-bar></app-bar>

<div class="text-box">
  <p>UPGRADE YOUR PLAN</p>
  <h1>Choose the plan that's right for you</h1>
  <ul class="features-list">
    <p>Watch all you want. Ad-free.</p>
    <p>Recommendations just for you.</p>
    <p>Change or cancel your plan anytime.</p>
  </ul>
</div>

<div class="plans">
  <div
    class="plan-card"
    [class.active-plan]="selectedPlan?.role === 'USER'"
    (click)="selectPlan(plans[0])"
  >
    <h3>Basic</h3>
  </div>
  <div
    class="plan-card"
    [class.active-plan]="selectedPlan?.role === 'ADMIN'"
    (click)="selectPlan(plans[1])"
  >
    <h3>Standard</h3>
  </div>
  <div
    class="plan-card"
    [class.active-plan]="selectedPlan?.role === 'SUPERUSER'"
    (click)="selectPlan(plans[2])"
  >
    <h3>Premium</h3>
  </div>
</div>

<button class="nextBtn" (click)="onUpgrade()">Upgrade</button>
