<!-- <p>todo works!</p>
  <h3 *ngFor="let todo of todos">{{ todo.id }}-{{ todo.title }}</h3>
</div>
property binding:
<button [disabled]="isdisabled">Template</button>
<button (click)="handleClick()">Disable Tmp</button> -->
<!-- ===================================== -->
<header class="header">implement a todo list</header>

<main class="container">
  <section class="todolist">
    <header class="todolist-header">todolist</header>
    <input
      type="text"
      class="todolist-input"
      placeholder="Input your todo..."
      [(ngModel)]="search"
    />

    <!-- 
    <input [(ngModel)]="title" />
    {{ title }} -----------two-way binding, title = input.value-->
    <ul class="todolist-container">
      <app-todo-item
        *ngFor="let todo of todos | todoPipe : search"
        [item]="todo"
        (todoidRef)="deleteTodo($event)"
      ></app-todo-item>
    </ul>
  </section>
</main>
