@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  background-color: black;
}

.container {
  width: 100%;
  min-height: 100vh;

  padding: 40px 8%;
  display: grid;
  align-items: center;
}

.container .movie-cards {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  grid-gap: 20px;
}

app-bar {
  display: flex;
}
