<div class="container">
  <nav class="navbar">
    <div class="left">
      <img
        class="netflix_icon"
        src="../assets/pictures/NetflixLogo.png"
        alt="netflix_logo"
        (click)="navigateToHome()"
      />
    </div>
    <div class="right">
      <div class="Login" *ngIf="!isLoggedIn">
        <button class="signIn" (click)="navigateToSignIn()">Sign In</button>
      </div>
      <div class="Login" *ngIf="isLoggedIn">
        <span class="username">{{ userName }}</span>
        <span class="role" (click)="navigateToRole()">{{ role }}</span>
        <button class="signOut" (click)="signOut()">Sign Out</button>
      </div>
    </div>
  </nav>
</div>
