<main class="detailsPage">
  <div
    class="background"
    [ngStyle]="{
      'background-image':
        'url(' + 'https://image.tmdb.org/t/p/w1280' + backdrop_img + ')',
      'background-size': '100vw 100vh'
    }"
  >
    <app-bar></app-bar>
    <div class="info_display">
      <div class="movie_info">
        <section class="movie-name">
          {{ movie.title }}
        </section>
        <section class="info_list">
          <p class="star">★</p>
          <span class="rating">
            {{ movie.vote_average }}
          </span>
          <span class="popularity">| {{ movie.popularity }}</span>
        </section>
        <section class="overview">
          {{ movie.overview }}
        </section>
        <div class="buttons">
          <button class="btn btn-play-trailer">Play Trailer</button>
          <button class="btn btn-play-now">Play Now</button>
        </div>
      </div>

      <div class="additional-info">
        <div class="related-posters">
          <h2>Posters</h2>
          <div class="poster-row">
            <img
              *ngFor="let backdrop of backdrops"
              [src]="'https://image.tmdb.org/t/p/w185/' + backdrop.file_path"
              alt="related movie poster"
            />
          </div>
        </div>
        <div class="cast-info">
          <h2>Cast</h2>
          <div class="cast-row">
            <div *ngFor="let actor of casts" class="actor">
              <img
                [src]="'https://image.tmdb.org/t/p/w185/' + actor.profile_path"
                alt="{{ actor.name }}"
              />
              <p>{{ actor.name }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
