<app-bar></app-bar>

<div class="plan-page">
  <h2>Step 2 of 3</h2>
  <h3>Choose the plan that's right for you</h3>
  <ul>
    <li>Watch all you want. Ad-free.</li>
    <li>Recommendations just for you.</li>
    <li>Change or cancel your plan anytime.</li>
  </ul>

  <div class="plans">
    <div
      class="plan"
      *ngFor="let plan of plans"
      [class.selected]="selectedPlan === plan"
      (click)="selectPlan(plan)"
    >
      <h4>{{ plan.name }}</h4>
      <p>Price: {{ plan.price }}</p>
      <p>Video Quality: {{ plan.quality }}</p>
      <p>Resolution: {{ plan.resolution }}</p>
    </div>
  </div>

  <button (click)="onNext()" class="btn-submit">Next</button>
</div>
